<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FateTetris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <FateTetris.Properties.Settings>
            <setting name="RotateLeft" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="RotateRight" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="SoftDrop" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="HardDrop" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="HighScore" serializeAs="String">
                <value>0</value>
            </setting>
        </FateTetris.Properties.Settings>
    </userSettings>
</configuration>